/*All*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
/*	background: linear-gradient(rgba(69, 104, 220,0.4), rgba(176, 106, 179,0.2));*/
}

.btn:hover{
	background-color:purple ;
}

h1{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: purple;

}

.rowContainer{
	padding: 15px 0px;
}
.visa img{
	width: 150px;
}
nav{
	background-color: #4361ee;
}
#home, #about, #sign, #reg, #cart{
	color: #eee;
}






/*footer*/


/*styling background*/

footer{
	background-color: #4361ee;
	height: 200px;
}

/*styling text*/

small{
	color: #eee;
}
.footer_div{
	margin-top: 8%;
}




/*register page*/



/*conform password error*/

.password_error{
	color: red;
}
label{
	margin-bottom: 10px;
	margin-top: 10px;
}

/*category page*/


.categories{
	height: 100vh;
	position: relative;
	top: -60px;
	margin-bottom: 60px;
}
.category-list ul{
	list-style-type: none;
}
.category-list ul li a{
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	margin-top: 2px;
	border: 1px solid #ccc;
	background: linear-gradient(to right, rgb(9, 57, 112), rgb(72, 149, 239));
	text-decoration: none;
	color: white;
	transition: all 0.2s;
}
/*.category-list ul li a{
	display: inline-block;
	margin: 10px 0 10px 15px;
}*/
#category-title{
	color: #3A0CA3;
	background-color: #4cc9f0;
	width: 100%;
	padding: 8px 20px;
}
#category-title h3{
	margin: 10px;
}
.svg{
	position: absolute;
	right: 10%;
}
.category-list ul li a:hover{
	background: linear-gradient(to right, rgb(14, 106, 135), rgb(76, 201, 240));
	padding: 20px;
	width: 102%;
}

/*styling trending list's stars*/
.fa-star,
.fa-star-half{
color:blueviolet;
padding: 3% 0;

}




/*Home*/


/*styiling button in card*/

.card-btn{
	position: absolute;
	bottom: 10px;
}

/*card title*/

.trending{
	width: 25%;
	margin: 0 auto 20px auto;
	color: #3A0CA3;
}
.home_footer{
	margin-top: 25px;
}

/*style some discryption cards*/

.discryption{
	box-sizing: border-box;
	box-shadow: 5px 2px 5px 3px rgba(0, 0, 0, 0.18);
	height: 40vh;
	position: relative;
	top: -40px;
}

/*collering rating stars*/
.checked {
  color: orange;
}



/*Style animation*/

.main_img{
	z-index: -1000;
	height: 60vh;
	position: relative;
	top: -60px;
	overflow: hidden;
}

#slide_image{
	opacity: 0.8;
    display: block;
    margin: 0 auto;
    animation: zoom 3s linear infinite;

}

@keyframes zoom{
	0%{
		transform: scale(1.5);
	}
	20%{
		transform: scale(1.0);
	}
	80%{
		transform: scale(1.0);	
	}
	100%{
		transform: scale(1.5);
	}
}
.card-button{
	position: absolute;
	bottom: 20px;

}

/*styling card button in products.php*/
/*.card-button{
	display: none;
}*/

/*styling product card*/

/*.product:hover{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}
.product:hover .card-button{
	display: flex;
}*/


/*styling products top bar*/

#topBar{
	z-index: 100;
	width: 100%;
	height: 150px;
	background-color: red;
}
.img{
	display: flex;
	justify-content: space-between;
}
section{
	position: absolute;
	top: 0;
}

/*in footer style about*/
.about-links a{
	color: #fff;
}

.nav_con li a::after{
    content: "";
    width: 0px;
    height: 3px;
    margin: auto;
    display: block;
    background-color: white;
    transition: 0.5s;
}
.nav_con li:hover a::after{
    width: 100%;
}
#prod-card :hover{
	background-color: rgba(0, 0, 0, 0.5);
}



.log_message{
	position: absolute;
	top: 50%;
	left: 50%;
}




/*styiling cart buttons*/
